.app--sidebar {
  & .app--title {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 32px;

    margin: 16px;

    background: rgba(255, 255, 255, 0.2);

    color: #fafafa;
  }
}